.insti-main {
  // position: relative;
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow: auto;
}

.insti-title-container {
  width: 100%;
  padding: 0 10%;
  margin: 10vh 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insti-title {
  font-size: 3em;
}

.insti-card-img {
  height: 4em;
  width: 4em;
}

.title-search-box {
  position: relative;
  height: 100%;
  width: 34%;
}

.title-search-box-search {
  height: 3.4em;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
}

.title-search-box-button {
  position: absolute;
  color: white;
  background-color: var(--gdsc-blue-2-100);
  border: none;
  border-radius: 5px;
  top: 0.45em;
  right: 0.45em;
  height: 2.5em;
  width: 3em;
}

.insti-card-container {
  width: 75%;
  margin: 10vh auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.insti-card {
  width: 40vh;
  height: 40vh;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgb(138, 138, 138);
}

.insti-card-img {
  width: 55%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .insti-title-container {
    width: 100%;
    padding: 0 5%;
    margin: 6vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .insti-title {
    font-size: 2.3em;
  }
  .title-search-box {
    width: 90%;
    margin: 3% 0 0 0;
  }
  .insti-card {
    width: 33vw;
    height: 33vw;
    padding: 2%;
    margin: 4% 1.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgb(138, 138, 138);
  }
  .insti-card-container {
    width: 90%;
    margin: 6vh auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
  }
}
