.insti-main {
  // position: relative;
  min-height: 100vh;
  // height: fit-content;
  width: 100%;
  overflow: auto;
  padding: 10vh 0 0 0;
  margin-bottom: 5vh;
}

.insti-title-container {
  width: 100%;
  padding: 0 10%;
  // margin: 10vh 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insti-title {
  font-size: 3em;
}

.insti-card-img {
  height: 4em;
  width: 4em;
}

.title-search-box {
  position: relative;
  height: 100%;
  width: 34%;
}

.title-search-box-search {
  height: 3.4em;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
}

.title-search-box-button {
  position: absolute;
  color: white;
  background-color: var(--gdsc-blue-2-100);
  border: none;
  border-radius: 0.2em;
  top: 0.45em;
  right: 0.45em;
  height: 2.5em;
  width: 3em;
}

.insti-card-container {
  width: 75%;
  height: 50vh;
  margin: 10vh auto 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  // flex-wrap: wrap;
  // height: fit-content;
}

.insti-card {
  // display: inline-block;
  min-width: 40vh;
  min-height: 40vh;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  box-shadow: 0px 0px 0.5em 0px rgb(161, 161, 161);
}

.insti-card-img {
  width: 55%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .insti-title-container {
    width: 100%;
    padding: 0 5%;
    margin: 6vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .insti-title {
    font-size: 2.3em;
  }
  .title-search-box {
    width: 90%;
    margin: 3% 0 0 0;
  }
  .insti-card {
    min-width: 22vh;
    min-height: 22vh;
    padding: 2%;
    margin: 4% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0.5em 0px rgb(138, 138, 138);
  }
  .insti-card-container {
    width: 90%;
    min-height: 55vh;
    margin: 7vh auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    // flex-wrap: wrap;
    // height: fit-content;
  }
}
