.departments {
  min-height: calc(100vh - 4rem);
  padding-top: 3rem;

  .dcontainer {
    display: flex;
    align-items: center;
    height: 3rem;

    .arrowContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.7em;

      .arrow {
        cursor: pointer;
      }

      .dhead {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        color: var(--gdsc-grayish-1-100);
        font-size: 3rem;
        margin: auto;
        text-align: center;
      }
    }

    .add-dept {
      color: #fff;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .dcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
  }
}
