.searchresultscontainer {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  .header {
    height: 20vh;
    display: flex;
    .heading {
      width: 50%;
      color: var(--gdsc-grayish-3-100);
      display: flex;
      align-items: center;
      font-size: 2.5em;
      font-weight: 400;
    }
    .searchcontainer {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .searchbar {
        width: 70%;
        height: 2.7em;
        display: flex;
        align-items: center;
        border-radius: 10px;
        .inputbox {
          height: 100%;
          width: 80%;
          border-radius: 10px;
          border-right: none;
          input {
            height: 100%;
            width: 100%;
            border: 1px solid var(--gdsc-grayish-1-100);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: none;
            padding: 1em 1em;
            color: var(--gdsc-content-1-100);
            font-weight: 400;
          }
          input:focus {
            outline: none;
          }
        }
        .iconcontainer {
          height: 100%;
          width: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border: 1px solid var(--gdsc-grayish-1-100);
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-left: none;
          .iconimg {
            width: 2em;
            height: 65%;
            margin-right: 10%;
          }
        }
      }
    }
  }
  .columnheadingcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: var(--gdsc-grayish-1-100);
    margin-bottom: 2em;
    .leftcolumn {
      width: 65%;
    }
    .rightcolumn {
      display: flex;
      justify-content: space-around;
      width: 35%;
      .leftitem {
        width: 65%;
        text-align: center;
      }
      .rightitem {
        width: 35%;
        text-align: end;
        padding-right: 5%;
      }
    }
  }
  .searchitemscontainer {
    margin-bottom: 2em;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 3em;
      }
      .searchcontainer {
        .searchbar {
          height: 3.2em;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 3em;
      }
      .searchcontainer {
        .searchbar {
          height: 3.5em;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (max-height: 1365px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 2.5em;
      }
      .searchcontainer {
        .searchbar {
          height: 2.7em;
        }
      }
    }
  }
}
@media (max-width: 912px) and (max-height: 1368px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 3em;
      }
      .searchcontainer {
        .searchbar {
          height: 3em;
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 2.7em;
      }
      .searchcontainer {
        .searchbar {
          height: 2.7em;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .searchresultscontainer {
    .header {
      .heading {
        font-size: 2em;
      }
      .searchcontainer {
        .searchbar {
          height: 2.5em;
          width: 75%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .searchresultscontainer {
    width: 92%;
    .header {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      margin: 1em 0em;
      .heading {
        width: 100%;
        font-size: 1.5em;
      }
      .searchcontainer {
        width: 100%;
        margin: 1.5em 0;
        .searchbar {
          width: 95%;
          margin: auto;
        }
      }
    }
  }
  .columnheadingcontainer {
    .leftcolumn {
      max-width: 50%;
    }
    .rightcolumn {
      min-width: 50%;
      justify-content: flex-end;
      .leftitem {
        width: 100%;
        text-align: end;
        margin-left: auto;
      }
      .rightitem {
        display: none;
      }
    }
  }
}
