.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column-reverse;
  margin: auto;
  z-index: 1000;
  overflow: auto;
  padding: 1rem;
}

.popupContent {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90%;

  @media (max-width: 600px) {
    width: 95%;
    padding: 0.75rem;
    max-height: 80%;
  }

  .booktitlecontainer {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: 500;
      font-size: 1.5rem;

      @media (max-width: 600px) {
        font-size: 1.2rem;
      }
    }

    .buttoncont {
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .itemcontainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .file {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 3;
      gap: 5rem;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      .bookiconcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      .buttoncont {
        width: auto;

        @media (max-width: 600px) {
          width: 100%;
        }

        button {
          width: 100%;

          @media (max-width: 600px) {
            width: 100%;
            font-size: 1rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
