.itemcontainer {
  display: flex;
  color: var(--gdsc-grayish-1-100);
  height: 4em;
  border-bottom: 1px solid var(--gdsc-grayish-1-100);
  width: 100%;
  .leftpart {
    width: 65%;
    display: flex;
    align-items: center;
    .bookiconcontainer {
      margin-right: 8%;
      height: 3em;
      .bookicon {
        height: 100%;
      }
    }
    .booktitlecontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      .title {
        font-size: 1.2em;
      }
    }
  }
  .rightpart {
    width: 35%;
    display: flex;
    .item {
      width: 70%;
      display: flex;
      align-items: center;
    }
    .download {
      width: 25%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .delete{
      width: 25%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .itemcontainer {
    .rightpart {
      .item {
        width: 70%;
      }
      .download{
        width: 25%;
      }
      .delete{
        width: 25%;
      }
    }
  }
}

@media (max-width: 414px) {
  .itemcontainer {
    .leftpart {
      .bookiconcontainer {
        height: 2.5em;
      }
      .booktitlecontainer {
        .title {
          font-size: 0.9em;
        }
      }
    }
    .rightpart {
      font-size: 0.9em;
    }
  }
}

@media (max-width: 350px) {
  .itemcontainer {
    .leftpart {
      .booktitlecontainer {
        .title {
          font-size: 0.9em;
        }
      }
    }
    .rightpart {
      .item {
        font-size: 0.9em;
      }
    }
  }
}
