.container {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .upperpart {
    height: 50%;
    width: 90%;
    display: flex;
    border-bottom: 1px solid var(--gdsc-grayish-2-100);
    .upperleft {
      width: 50%;
      display: flex;
      align-items: center;
      .avatarbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 80%;
        .imgbox {
          height: 12em;
          width: 12em;
          border-radius: 50% 50%;
          .profileimg {
            width: 100%;
            height: 100%;
            border-radius: 50% 50%;
          }
        }
        .namebox {
          display: flex;
          margin-top: 0.8em;
          width: 13em;
          min-height: 2em;
          justify-content: center;
          align-items: flex-end;
          border-bottom: 1px solid var(--gdsc-grayish-2-100);
          position: relative;
          .name {
            font-size: 1.05em;
            padding: 0em 0.5em 0 0.5em;
            text-align: center;
          }
          .icon {
            position: absolute;
            right: -10%;
            bottom: -20%;
            font-size: 1.5em;
            color: var(--gdsc-grayish-2-100);
          }
        }
      }
    }
    .upperright {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .collegecontainer {
        width: 60%;
        text-align: center;
        border-bottom: 1px solid var(--gdsc-grayish-2-100);
        padding-bottom: 0.5em;
      }
      .detailcontainer {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin-top: 1em;
        .degree {
          width: 25%;
          border-bottom: 1px solid var(--gdsc-grayish-2-100);
          text-align: center;
          padding: 0.7em 0 0.5em 0;
        }
        .year {
          width: 35%;
          border-bottom: 1px solid var(--gdsc-grayish-2-100);
          text-align: center;
          padding: 0.7em 0 0.5em 0;
        }
        .branch {
          width: 25%;
          border-bottom: 1px solid var(--gdsc-grayish-2-100);
          text-align: center;
          padding: 0.7em 0 0.5em 0;
        }
      }
    }
  }
  .lowerpart {
    height: 50%;
    width: 90%;
    display: flex;
    .lowerleft {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 21em;
      .uploadimg {
        width: 12em;
        height: 13em;
      }
    }
    .lowerright {
      margin-left: auto;
      width: 60%;
      height: 100%;
      .columnheading {
        width: 87%;
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        color: var(--gdsc-grayish-1-100);
        height: 10%;
        font-size: 1.05em;
        .heading1 {
          width: 65%;
        }
        .heading2 {
          width: 35%;
        }
      }
      .uploadeditems {
        width: 87%;
        height: 80%;
        overflow-y: auto;
      }
      .uploadeditems::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    .upperpart {
      .upperright {
        .collegecontainer {
          width: 70%;
        }
        .detailcontainer {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .container {
    .upperpart {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .upperleft {
        width: 90%;
        .avatarbox {
          width: 100%;
          height: 90%;
          .namebox {
            width: 15em;
          }
        }
      }
      .upperright {
        width: 100%;
        margin-top: 5em;
        align-items: center;
      }
    }
  }
}

@media (max-height: 850px) {
  .container {
    .upperpart {
      .upperright {
        margin-top: 3em;
      }
    }
    .lowerpart {
      align-items: center;
    }
  }
}

@media (max-width: 540px) and (max-height: 700px) {
  .container {
    .upperpart {
      height: 60%;
      .upperright {
        margin-top: 1.5em;
      }
    }
    .lowerpart {
      height: 40%;
      .lowerleft {
        margin-top: 1em;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    height: 160vh;
    margin-top: 1em;
    .upperpart {
      height: 45%;
      .upperright {
        .collegecontainer {
          width: 75%;
          font-size: 0.9em;
        }
        .detailcontainer {
          width: 75%;
          font-size: 0.9em;
        }
      }
    }
    .lowerpart {
      flex-direction: column;
      overflow-y: hidden;
      height: 55%;
      .lowerleft {
        width: 90%;
        margin-top: 1em;
        height: 30%;
        .uploadimg {
          width: 8em;
          height: 8em;
        }
      }
      .lowerright {
        width: 90%;
        height: 70%;
        .columnheading {
          width: 95%;
        }
        .uploadeditems {
          width: 95%;
        }
      }
    }
  }
}

@media (max-height: 450px) {
  .container {
    height: 250vh;
  }
}
