.wrapper {
  flex-shrink: 0;
  max-width: 370px;
  padding: 2rem 2rem;
  margin: 7% auto;
  border-radius: 1.875rem;
  text-align: center;
  box-shadow: 0rem 0rem 1.25rem #26262626;
}

form input {
  outline: none;
  border-radius: 1em;
  color: #7a7a7a;
}

button {
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0.625rem;
  gap: 0.625rem;
  border: 0.0625rem solid #466eb6;
  background: #466eb6;
  border-radius: 0.9375rem;
  color: #fff;
}

.otp {
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #7a7a7a;
  margin-bottom: 30%;
  margin-top: 20%;
}

.otp a {
  color: #466eb6;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
