.container {
  height: 100%;
  width: 100%;

  .arrow {
    cursor: pointer;
    position: absolute;
    width: 9%;
    height: 0;
    left: 7%;
    top: 16%;

    .arrowicon {
      font-size: 3rem;
    }
  }

  .topicbox {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 3.8rem;
    height: auto;

    .boxes {
      background: #fff;
      width: fit-content;
      width: 30rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border-radius: 1em;
      font-family: var(--gdsc-font-1);
      font-style: normal;
      font-weight: 400;
      font-size: 1.4em;
      line-height: 36px;
      color: var(--gdsc-grayish-2-100);
      transition: all 0.4s ease-in-out;
      border: none;
    }

    .boxes:hover {
      transform: scale(1.06);
      color: var(--gdsc-content-1-100);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .topicbox {
      .boxes {
        width: 22rem;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .arrow {
      position: absolute;
      width: 22px;
      height: 0px;
      left: 9%;
      top: 7.5rem;

      .arrowicon {
        font-size: 2rem;
      }
    }

    .topicbox {
      margin: auto;
      justify-content: center;

      .boxes {
        max-width: 80%;
        flex-basis: 100%;
      }
    }
  }
}
