.container {
  height: 100vh;

  .arrow {
    cursor: pointer;
    position: absolute;
    width: 9%;
    height: 0;
    left: 7%;
    top: 16%;

    .arrowicon {
      font-size: 3rem;
    }
  }

  .title {
    width: 27%;
    height: 23%;
    margin: auto;
    margin-top: 2.2em;

    font-family: var(--gdsc-font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 96px;
    text-align: center;

    /* grey 2 */

    color: var(--gdsc-grayish-1-100);
  }

  .topicbox {
    display: flex;
    flex-direction: row;

    .boxleft {
      align-items: flex-start;
      margin: auto;
      margin-top: 3rem;

      width: 35rem;
      height: 518px;

      .boxes {
        cursor: pointer;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px;
        // gap: 10px;

        width: 34.7rem;
        height: 78px;

        background: #ffffff;
        /* card drop shadow */

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        font-family: var(--gdsc-font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 1.4em;
        line-height: 36px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        /* grey 1 */

        color: var(--gdsc-grayish-2-100);
        border: none;
        transition: all 0.4s ease-in-out;
      }

      .boxes:hover {
        font-size: 1.6em;
        transform: scale(1.06);
        color: var(--gdsc-content-1-100);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
      }
    }

    .boxright {
      align-items: flex-start;
      margin: auto;
      margin-top: 3rem;

      width: 35rem;
      height: 518px;

      .boxes {
        cursor: pointer;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px;
        // gap: 10px;

        width: 34.8rem;
        height: 78px;

        background: #ffffff;
        /* card drop shadow */

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        font-family: var(--gdsc-font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        /* grey 1 */

        color: var(--gdsc-grayish-2-100);
        border: none;
        transition: all 0.4s ease-in-out;
      }

      .boxes:hover {
        transform: scale(1.06);
        color: var(--gdsc-content-1-100);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
      }
    }

    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: auto;

    .arrow {
      position: absolute;
      width: 22px;
      height: 0px;
      left: 9%;
      top: 6.4rem;

      .arrowicon {
        font-size: 2rem;
      }
    }

    .title {
      margin: auto;
      margin-top: 7rem;
      width: 100%;
      height: 6%;

      font-weight: 400;
      font-size: 2.5rem;
      line-height: 39px;
      text-align: center;
    }

    .topicbox {
      .boxleft {
        width: 100%;

        .boxes {
          width: 79%;
          margin: auto;
          margin-bottom: 1.3rem;
        }
      }

      .boxright {
        width: 100%;
        margin-top: 0;

        .boxes {
          width: 79%;
          margin: auto;
          margin-bottom: 1.3rem;
        }
      }
    }
  }
}
