.our-team {
  padding: 10vh 2vh;

  .team-heading {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 3em;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--gdsc-grayish-3-100);
    }
  }
}

@media screen and (max-width: 708px) {
  .our-team {
    .team-heading {
      h2 {
        font-size: 2em;
      }
    }
  }
}
