.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  box-shadow: 0 0.4rem 0.4rem 0 var(--gdsc-line-1-100);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-out;
}

.large {
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px var(--gdsc-shadow-1-100);
}

.logopart {
  margin-left: 30px;

  img {
    width: 4.5rem;
  }

  .logo2 {
    height: 2.5rem;
    width: 7rem;
    margin-left: 0.5rem;
  }
}

.menupart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin-right: 3%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks {
  color: rgb(116, 114, 114);
  font-weight: 500;
  font-size: 1.25rem;
  margin-right: 20%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.15s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.25rem;
    bottom: -0.125rem;
    left: 0;
    background-color: var(--gdsc-blue-3-100);
    border-radius: 20%;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

.active {
  color: black;

  &::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.profile {
  margin-left: 15%;
}

.switchIcon {
  display: none;
  background-color: #fff;
  border: none;
}

@media (max-width: 1000px) {
  .navbar {
    transition: 0.5s all ease-in-out;
    position: relative;
  }

  .navbar.large {
    height: 50vh;
  }

  .navbar.large .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7.5rem;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .navbar.large .links a {
    margin: 0.9375rem 0;
    font-size: 1.5rem;
  }

  .switchIcon {
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 2.5rem;
  }

  .logopart {
    position: absolute;
    top: 1rem;
  }

  .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -18.75rem;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .links a {
    margin: 0.9rem 0;
    font-size: 1.5rem;
  }

  .profile {
    margin: 0;
  }
}
