.wrapper {
  flex-shrink: 0;
  width: 370px;
  height: 492px;
  padding: 2rem 2rem;
  margin: 7% auto;
  border-radius: 1.875em;
  text-align: center;
  box-shadow: 0rem 0rem 1.25rem #26262626;
  .recoverymessage {
    padding: 0 1rem 1rem 1rem;
    justify-content: center;
    font-size: 0.8rem;
    display: flex;
    color: #7a7a7a;
  }
  h3 {
    font-size: 1.3rem;
    color: #7a7a7a;
    font-weight: 600;
    margin: 3rem 0 2rem 0;
  }

  .otp {
    width: 15%;
    height: 20%;
    margin: 2px;
    outline: none;
    text-align: center;
    border: 0.0625rem solid #b5b5b5;
    margin-bottom: 30px;
    border-radius: 1em;
    color: #7a7a7a;
  }
  .otpfield {
    position: relative;
    .otpboxwrap {
      display: flex;
      flex-direction: row;
    }
    .resendotp {
      width: 100%;
      top: 65%;
      left: 6%;
      text-align: left;
      position: absolute;
      font-size: 0.8rem;
      text-decoration: none;
      color: #466eb6;
    }
    .gap {
      height: 0.7rem;
    }
  }
  button {
    width: 92%;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 0.625rem;
    gap: 0.625rem;
    border: 1px solid #466eb6;
    background: #466eb6;
    border-radius: 0.9375rem;
    color: #fff;
    margin-top: 2%;
  }
}
