.loadingcontainer {
  position: fixed;
  z-index: 1001;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--gdsc-bg-2-100);
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
