.courses-hero {
  min-height: 100vh;
  padding-top: 15vh;
}

.courses-title {
  position: relative;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.courses-title-text {
  color: #404040;
}

.courses-title-heading {
  font-size: 4em;
}

.courses-fa {
  scale: 0.75;
  position: absolute;
  top: 35%;
  left: 1%;
  display: inline-block;
}

.courses-card-container {
  width: 85%;
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.courses-card {
  // display: inline-block;
  position: relative;
  min-width: 20vw !important;
  max-width: 20vw;
  min-height: 20vw !important;
  max-height: 20vw;
  margin: 3% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  box-shadow: 0px 0px 0.5em 0px rgb(161, 161, 161);
  transition: 0.75s;
}

.courses-card-img {
  width: 70%;
  height: auto;
  transition: 0.75s;
}

.courses-card-bm {
  position: absolute;
  scale: 0.7;
  top: 5%;
  right: 5%;
}

.courses-card-subject {
  color: #7a7a7a;
  font-size: 1.75em;
  margin: 6% auto;
  transition: 0.75s;
}

.courses-card:hover {
  box-shadow: 0px 0px 1.1em 0px rgb(181, 181, 181);

  .courses-card-img {
    scale: 1.15;
  }
  .courses-card-subject {
    transform: translateY(-7%);
    color: rgb(20, 20, 20);
  }
}

@media only screen and (max-width: 600px) {
  .courses-hero {
    padding-top: 5vh;
  }
  .courses-fa {
    top: 20%;
  }
  .courses-title-text {
    font-size: 0.5em;
  }
  .courses-card {
    max-width: 38vw !important;
    min-height: 38vw !important;
    padding: 2%;
    margin: 4% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0.5em 0px rgb(138, 138, 138);
  }
  .courses-card-subject {
    font-size: 1em;
  }
  .courses-card-container {
    width: 100%;
  }
  .courses-card-bm {
    scale: 0.6;
  }
}
