.uploading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-family: Arial, sans-serif;
  min-height: calc(100vh - 4rem);

  h1 {
    font-weight: 500;
  }

  .file-upload {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .file-upload-input {
      display: none;
    }

    .upload-box {
      padding: 3em 6em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: rgba(161, 194, 250, 0.1);
      border: 2px dashed #ccc;
      border-radius: 4px;
      width: 45vw;

      .upload-icon {
        font-size: 6em;
      }

      .upload-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--gdsc-dark-1-100);
        flex-grow: 0;
        gap: 1em;

        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 0.8em;
          display: flex;
          align-items: center;
          text-align: center;
          color: var(--gdsc-grayish-2-100);
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }

    :hover {
      border-color: #111;
    }
  }

  .file-uploaded {
    display: none;
  }

  .uploadStatusHide {
    display: none;
  }

  .uploadStatus {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em;
    color: var(--gdsc-grayish-2-100);
    margin: 1em 0 0.5em 0;
    width: 45vw;
  }

  .file-progress-bar {
    height: 0.2em;
    background-color: #1e90ff;
    border-radius: 5px;
  }

  .uploaded-files {
    display: flex;
    flex-direction: column;
    align-items: center;

    .uploaded-file {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45vw;
      padding: 0.7em;
      border-radius: 5px;
      border: 1px solid var(--gdsc-blue-3-100);

      .file-name {
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .button-delete {
        cursor: pointer;
        color: var(--gdsc-red-2-100);
      }
    }
  }

  .upload-button,
  .disabled-upload-button {
    color: var(--gdsc-bg-2-100);
    border: none;
    width: 45vw;
    transition: background-color 0.3s;
    border-radius: 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .upload-button {
    background-color: var(--gdsc-blue-1-100);
    cursor: pointer;
  }

  .disabled-upload-button {
    background-color: var(--gdsc-grayish-2-100);
    cursor: no-drop;
  }

  .upload-button:hover {
    background-color: var(--gdsc-blue-3-100);
  }
}

@media screen and (max-width: 900px) {
  .uploading-page {
    .file-upload {
      .upload-box {
        width: 60vw;
        padding: 1.5em 3em;

        .upload-text {
          font-size: 1.1rem;
        }
      }
    }

    .uploadStatus {
      font-size: 1.2em;
      margin: 1em 0 0.5em 0;
      width: 60vw;
    }

    .uploaded-files {
      .uploaded-file {
        width: 60vw;
      }
    }

    .upload-button {
      width: 60vw;
    }
  }
}

@media screen and (max-width: 550px) {
  .uploading-page {
    .file-upload {
      .upload-box {
        padding-bottom: 0.4em;
        width: 80vw;

        .upload-text {
          font-size: 0.9em;
        }
      }
    }

    .uploadStatus {
      font-size: 1em;
      margin: 1em 0 0.5em 0;
      width: 80vw;
    }

    .uploaded-files {
      .uploaded-file {
        width: 80vw;
      }
    }

    .upload-button {
      width: 80vw;
    }
  }
}
