.main-upload-page {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 500;
    color: var(--gdsc-grayish-2-100);
    margin-top: 1em;
  }

  .uploading-page {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .dropdown-containers {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1em;
      font-family: var(--gdsc-font-1);
      font-weight: 500;
      color: var(--gdsc-grayish-2-100);
      input {
        background-color: transparent;
        width: 100%;
        outline: none;
        border-radius: 0.8rem;
        border: 0.01rem solid var(--gdsc-line-1-100);
      }

      .custom-topic {
        display: flex;
        gap: 6.5rem;
        align-items: center;
        .add-icon {
          cursor: pointer;
        }
      }
      .custom-topic-input {
        padding: 0.4rem;
      }
    }
  }
}

.upload-button {
  background-color: var(--gdsc-blue-2-100);
  border: none;
  width: 25rem;
  transition: background-color 0.3s;
  border-radius: 4rem;
  font-family: var(--gdsc-font-1);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 2rem;

  &:hover {
    background-color: var(--gdsc-blue-3-100);
  }
}

@media screen and (max-width: 1100px) {
  .main-upload-page {
    .uploading-page {
      gap: 2rem;

      .dropdown-containers {
        gap: 1.2rem;
        font-size: 1em;
        width: 18rem;
        .custom-topic {
          p {
            font-size: 0.8rem;
          }
          .add-icon {
            cursor: pointer;
            font-size: 2rem;
          }
        }
        .custom-topic-input {
          padding: 0.4rem;
        }
      }
    }
  }
  .upload-button {
    width: 15rem;
  }
}
@media screen and (max-width: 700px) {
  .main-upload-page {
    .uploading-page {
      gap: 2rem;
      flex-direction: column;

      .dropdown-containers {
        gap: 1.2rem;
        font-size: 1em;
      }
    }
  }
  .upload-button {
    width: 10rem;
    font-size: 1em;
    margin-bottom: 1em;
  }
}
