.our-team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .member-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    gap: 8em;

    .member-card {
      height: 21em;
      width: 16em;
      border-radius: 6%;
      background-size: cover;
      transition: transform 0.1s ease-in-out;
      overflow: hidden;
      box-shadow: 10px rgba(0, 0, 0, 0.25);

      .member-info {
        background: url("/assets/membercard-bottom.png");
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 70%;
        left: 3%;
        height: 30%;

        h2 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 1.3em;
          text-align: center;
          color: var(--gdsc-dark-1-100);
          position: relative;
          top: 2em;
          letter-spacing: 0;
        }

        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 1em;
          position: relative;
          top: -0.4em;
          text-align: center;
          color: var(--gdsc-grayish-2-100);
        }
      }

      .member-social {
        display: none;
      }
    }
    :hover .member-social {
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      background-color: var(--gdsc-member-card-hover);
      height: 100%;
      width: 100%;
    }

    :hover .member-social * {
      margin: auto;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      background-color: var(--gdsc-bg-2-100);
      color: var(--gdsc-dark-1-100);
    }

    :hover .member-info {
      display: none;
    }
  }
}
