@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gdsc-font-1: "Poppins", sans-serif;

  --gdsc-blue-1-100: #4885ed;
  --gdsc-blue-2-100: #4285f4;

  --gdsc-green-1-100: #3cba54;

  --gdsc-red-1-100: #db3236;
  --gdsc-red-2-100: #f0766c;

  --gdsc-yellow-1-100: #f4c20d;

  --gdsc-dark-1-100: #1d192b;
  --gdsc-content-1-100: #313033;
  --gdsc-grayish-1-100: #49454f;
  --gdsc-line-1-100: #c5c5c5;
  --gdsc-bg-1-100: #dbdbdb;
  --gdsc-neutral-1-100: #605d62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gdsc-font-1);
}
