@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --gdsc-font-1: "Poppins", sans-serif;
  --gdsc-font-2: "Roboto", sans-serif;

  --gdsc-blue-1-100: #4885ed;
  --gdsc-blue-2-100: #4285f4;
  --gdsc-blue-3-100: #466eb6;

  --gdsc-green-1-100: #3cba54;

  --gdsc-red-1-100: #db3236;
  --gdsc-red-2-100: #f0766c;

  --gdsc-yellow-1-100: #f4c20d;

  --gdsc-dark-1-100: #1d192b;
  --gdsc-content-1-100: #313033;
  --gdsc-grayish-1-100: #49454f;
  --gdsc-grayish-2-100: #7a7a7a;
  --gdsc-grayish-3-100: #404040;
  --gdsc-line-1-100: #c5c5c5;
  --gdsc-bg-1-100: #dbdbdb;
  --gdsc-bg-2-100: #ffffff;
  --gdsc-bg-3-100: #f3f7ff;
  --gdsc-neutral-1-100: #605d62;

  //other colors
  --title-color: rgba(0, 0, 0, 0.86);
  --semester-hover: #31579a;
  --dept-bg-color: rgba(223, 223, 223, 0.47);
  --gdsc-member-card-hover: rgba(53, 83, 137, 0.66);
  --linkedin-color: #0072b1;
  --github-color: #171515;
  --facebook-color: #3b5998;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gdsc-font-1);
}

.Toastify__toast {
  width: 100%;
  white-space: normal;
  font-size: medium;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Toastify__close-button {
  width: 20%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
