.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .header {
    position: absolute;
    top: 10%;
    font-size: 7vmin;
    z-index: 1;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--gdsc-grayish-1-100);
    margin: 1vh auto 0 auto;
    user-select: none;

    .us {
      color: white;
    }
  }

  .LeftBox {
    background-color: #f6f5f5;
    width: 50%;
    height: 100vh;
    padding: 2rem 6rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .middleBox {
    position: absolute;
    width: 12vw;
    display: flex;
    flex-direction: row;

    .middleBoxLeft {
      background-color: #e9e8e8;
      width: 50%;
      height: 100vh;
    }

    .middleBoxRight {
      background-color: #a6b4cd;
      width: 50%;
      height: 100vh;
    }
  }

  .RightBox {
    background-color: #466eb6;
    width: 50%;
    height: 100vh;
    padding: 4% 4% 4% 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: var(--gdsc-bg-3-100);
      margin-bottom: 2rem;
    }

    .developer {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      &.developerLeft {
        flex-direction: row;
      }

      &.developerRight {
        flex-direction: row-reverse;
      }

      .developerImg {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;

        &:last-child {
          margin-left: 1rem;
        }
      }

      .developerInfo {
        h3 {
          margin: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--gdsc-dark-1-100);
        }

        p {
          margin: 0;
          color: var(--gdsc-grayish-1-100);
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .header {
      width: 100%;
      top: 0;
      text-align: center;
      font-size: 2rem;
      z-index: 1;
      font-family: "Poppins";
      letter-spacing: 10px;
      font-weight: 600;
      color: var(--gdsc-grayish-1-100);
      margin: 1vh auto 0 auto;
      user-select: none;

      .us {
        color: var(--gdsc-grayish-1-100);
      }
    }

    .LeftBox {
      width: 100%;
      padding: 1.2rem;
    }

    .RightBox {
      margin-top: 5rem;
      width: 100%;

      h2 {
        font-size: 2rem;
      }
    }

    .middleBox {
      position: absolute;
      width: 100%;
      height: 12vh;
      display: flex;
      flex-direction: column;

      .middleBoxLeft {
        width: 100%;
        height: 50%;
      }

      .middleBoxRight {
        width: 100%;
        height: 50%;
      }
    }
  }
}
