.coursesHero {
  min-height: calc(100vh - 4rem);
  padding-top: 3rem;

  .coursesTitle {
    position: relative;
    margin: 0 auto;
    width: 98.1%;
    text-align: center;

    .arrowContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 3rem;
      margin: auto;
      max-width: 96vw;

      .arrow {
        cursor: pointer;
      }

      .dhead {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        color: var(--gdsc-grayish-1-100);
        font-size: 3rem;
        margin: auto;
        text-align: center;
      }

      .add-courses {
        color: #fff;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
  }

  .coursesCardContainer {
    width: 85%;
    margin: 7% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    .coursesCard {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .coursesHero {
    padding-top: 5vh;

    .coursesTitle {
      .coursesTitleHeading {
        font-size: 2em;

        .coursesFa {
          top: 60%;
        }

        .coursesTitleText {
          font-size: 1em;
        }
      }
    }

    .coursesCardContainer {
      width: 100%;
    }
  }
}
